# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#My Added
build/
.svn/
*.dat
.vs/
*.tlog
*.cache
*.unsuccessfulbuild
*.lastbuildstate
*.log
*.disp
*.out
*.sig
*.lis
*.exp
*.ilk
*.res
PDLSM-FEM.sdf

*.pdb
PDLSM-FEM.sdf
PDLSM-FEM.pch

# ignored files for vc++
# 2015-01-09
#--------------------------
UpgradeLog.XML
~*
*~
*.7z
*.a
*.aps
*.clw
*.dll
*.dsp
*.dsw
*.exe
*.exp
*.lastbuildstate
*.lib
*.log
*.tlog
*.idb
*.ilk
*.ncb
*.obj
*.opensdf
*.pdb
*.pyc
*.rar
*.res
*.sdf
*.so
*.suo
*.user
*.zip


#--------------------------
# ignored dirs for vc++
#--------------------------
Debug.win32/
Release.win32/
*.tlog/
_UpgradeReport_Files/
ipch/
tmp/
temp/
~*/
target/
build/
Debug/
Release/